{% extends "base.html" %}

{% block title %}Join{% endblock %}

{% block content %}

    <style>
      .jumbotron {
        position: relative;
        padding: 5px;
        margin-top: 50px;
        background: rgba(0, 0, 0, 0.1);
        margin-bottom: 0;
      }
    </style>

    <div class="container">
      <div class = "jumbotron">
        <h1 style="font-size: 25px; padding-left: 15px;">Join</h1>
        <form method="POST">{% csrf_token %}
          <table style="border-spacing: 15px; border-collapse: separate;">
            {{ join_form.as_table }}
            <tr>
              <td>
                <input type="submit" class="btn btn-primary" value="Join"/>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>

{% endblock %}
